@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: normal !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#separador {
  height: 0.5px;
  width: 140px;
  background-color: #56C7F4;
  border: 0.5px solid #56C7F4;
  margin-right: 20px;
}

.topbar {
  width: 100%;
  height: 85px;
  padding: 10px;
  background-color: #2F4F6F;
  justify-content: space-between;
  box-sizing: content-box;
}

.topbar-left {
  border-right: 2px solid #56C7F4;
  padding: 15px;
}
.topbar-left a {
  text-decoration: none;
}
.topbar-left a h4 {
  color: #FFFFFF;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
}

.topbar-right {
  margin-right: 60px;
}

.topbar-nav_ul {
  box-sizing: content-box;
  gap: 15px;
  margin-right: 30px;
  margin-bottom: 0;
  border-left: 2px solid #56C7F4;
  padding: 15px;
  height: 37px;
}
.topbar-nav_ul li {
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  transition: 0.5s;
}
.topbar-nav_ul li:hover {
  color: #FF8000;
}

#burguer-menu {
  flex-direction: column;
  gap: 6.5px;
  cursor: pointer;
  height: 130px;
}
#burguer-menu:hover div {
  background-color: #FF8000;
}
#burguer-menu div {
  width: 40px;
  height: 3px;
  background-color: #56C7F4;
  transition: 0.7s;
}

.line1-active {
  transform: rotate(45deg) translate(6.5px, 6.5px);
}

.line2-active {
  opacity: 0;
}

.line3-active {
  transform: rotate(-45deg) translate(6.5px, -6.5px);
}

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: rgba(47, 79, 111, 0.4666666667);
  position: fixed;
  z-index: 100;
  transition: all ease-in-out 0.5s;
  justify-content: flex-end;
  align-items: flex-start;
}

.sidebar-nav {
  flex-direction: column;
  gap: 30px;
}

.sidebar-nav_ul {
  flex-direction: column;
  margin-right: 20px;
  margin-top: 30px;
  gap: 15px;
}
.sidebar-nav_ul li {
  width: 100%;
  text-align: end;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  cursor: pointer;
  transition: 0.5s;
}
.sidebar-nav_ul li:hover {
  color: #FF8000;
}

.sidebar-nav_ul-2 {
  margin-top: 16px;
  flex-direction: column;
  gap: 15px;
}
.sidebar-nav_ul-2 li {
  width: 100%;
  text-align: end;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}
.sidebar-nav_ul-2 li:hover {
  color: #FF8000;
}

.hero {
  width: 100vw;
  height: calc(100vh - 105px);
  background-image: url("../img/ciudad.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero i {
  font-size: 58px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s;
}
.hero i:hover {
  text-shadow: 0 0 25px #FF8000;
}

.quienes-somos_texto-superior {
  width: 100vw;
  min-height: 180px;
  padding: 30px 0;
  background-color: #2F4F6F;
  flex-direction: column;
  gap: 32px;
}
.quienes-somos_texto-superior h3 {
  width: 70%;
  text-align: center;
  color: #FFFFFF;
  font-size: 42px;
  font-family: "Raleway", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.quienes-somos_texto-superior p {
  width: 60%;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  line-height: 25px;
}

.info {
  min-height: calc(100vh - 262px);
  margin: 0;
  padding: 0;
}
.info div {
  height: 100%;
  margin: 0;
  padding: 0;
}

.info-text {
  flex-direction: column;
  gap: 9px;
}
.info-text h3 {
  line-height: normal;
}
.info-text p {
  padding: 16px;
}

.info-img {
  height: 100%;
}
.info-img img {
  height: 100%;
  max-height: 455px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #56C7F4;
  box-sizing: content-box;
}

.footer {
  box-sizing: content-box;
  width: 100vw;
  min-height: 200px;
}

.footer-logo {
  margin: 8px;
  box-sizing: content-box;
  width: 150px;
  height: 150px;
}
.footer-logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-contacto {
  margin: 8px;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  gap: 22px;
  font-size: 18px;
}
.footer-contacto h5 {
  font-size: 28px;
  color: #2F4F6F;
}
.footer-contacto div {
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}
.footer-contacto div i {
  color: #FF8000;
  margin-right: 6px;
}

.footer-redes {
  margin: 8px;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  gap: 22px;
}
.footer-redes h5 {
  font-size: 28px;
  color: #2F4F6F;
}
.footer-redes div {
  height: auto;
  gap: 21px;
}
.footer-redes div a {
  font-size: 28px;
  text-decoration: none;
  color: #2F4F6F;
}
.footer-redes div a:hover i {
  color: #FF8000;
}
.footer-redes div a i {
  transition: 0.3s;
}

.footer-copyright {
  margin: 8px;
}
.footer-copyright p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #2F4F6F;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .topbar-nav_ul {
    padding: 6px;
    gap: 5px;
    margin: 0;
  }
  .topbar-nav_ul li {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .topbar-nav {
    display: none;
  }
  .footer-logo {
    display: none;
  }
  .footer-contacto {
    gap: 3px;
    font-size: 16px;
  }
  .footer-contacto h5 {
    font-size: 26px;
  }
  .footer-redes {
    gap: 3px;
  }
  .footer-redes h5 {
    font-size: 26px;
  }
  .footer-redes div a {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .topbar-left {
    border: none;
  }
  .topbar-left a h4 {
    font-size: 19px;
  }
  .sidebar {
    width: 100vw;
    justify-content: center;
  }
  .sidebar-nav_ul {
    margin-right: 0px;
    margin-top: 30px;
  }
  .sidebar-nav_ul li {
    width: 100%;
    text-align: center;
  }
  .sidebar-nav_ul-2 li {
    width: 100%;
    text-align: center;
  }
  .hero i {
    font-size: 38px;
  }
}/*# sourceMappingURL=style.css.map */