// Colores

$colorPrimario: #56C7F4;
$colorSecundario: #2F4F6F;
$colorBlanco: #FFFFFF;
$colorAcento: #FF8000;

$colorMenuDesplegable: #2f4f6f77;


// Fuentes

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

$fuentePrimaria: 'Raleway', sans-serif;
$fuenteSecundaria: 'Poppins', sans-serif;