@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");

$colorPimario: #56C7F4;
$colorSecundario: #80B2CB;
$colorOscuro: #2F4F6F;
$colorBlanco: #FFFFFF;
$colorAcento: #FF8000;
$colorGris:#CDCDCD;
$colorFondoOscuro: #3476AF;
$colorFondoClaro: #3F88C8;

$fuente: 'Raleway', sans-serif; 

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: $fuente;
  overflow-x: hidden;

}

.header {
  background-color: $colorOscuro;
  &__burgerMenu {
    &__icon {
      transition: 300ms;
      &:hover {
        color: $colorAcento;
      }
    }
  }
  &__nav {
    border-top: 1px solid $colorPimario;
    background-color: $colorOscuro;
    transition: 600ms;
    &__title {
      color: $colorPimario;
    }
    &__link {
      transition: 300ms;
      &:hover {
        color: $colorAcento;
      }
    }
  }
}

#main {
  flex: 1;
}

.footer {
  background-color: $colorOscuro;
}

.socialLinks {
  &__links {
    display: flex;
      justify-content: center;
      align-items: center;
      background-color: $colorSecundario;
      border-radius: 50px;
      color: $colorOscuro;
      transition: 300ms;
      &:hover {
        color: $colorAcento;
      }
  }
}

.hero {
  background-color: $colorSecundario;
  background-image: url('../assets/ciudad.webp');
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 64px);
  &__text {
    &__title{
      border-radius: 25px 25px 0 0;
      background-color: $colorFondoOscuro;
      & h3 {
        color: $colorAcento;
      }
    }
    &__description{
      background-color: $colorFondoClaro;
    }
    &__button{
      border-radius: 0 0 25px 25px;
      background-color: $colorFondoOscuro;
      &__btn {
        border: 1px solid $colorOscuro;
        border-radius: 25px;
        background-color:$colorPimario;
        transition: 300ms;
        &:hover {
          border-color: $colorPimario;
          background-color: $colorOscuro;
          color: $colorAcento;
        }
      }
    }
  }
}


.trust {
  background-color: $colorGris;
  color: $colorOscuro;
  &__logos{
    & i{
      font-size: 36px;

    }
  }
}

.indexCards {
  background-color: $colorSecundario;
  &__card {
    background-color: $colorOscuro;
    border-radius: 25px;
    &__title {
      color: $colorAcento;
    }
    &__text {
      color: $colorGris;
    }
    &__btn {
      border: 1px solid $colorOscuro;
      border-radius: 25px;
      background-color:$colorPimario;
      transition: 300ms;
      color: $colorOscuro;
      &:hover {
        border-color: $colorPimario;
        background-color: $colorOscuro;
        color: $colorAcento;
      }
    }
  }
}